/* zero */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo */
body {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

/* Container principal */
.card-curso {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

/* alinhando-horizontal */
.card-cursos ul {
    list-style: none;
    display: flex;
    gap: 40px; /* espaço entre os cards */
}

/* Cada card */
.card-cursos li {
    width: 200px;
    height: 80px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: 0.3s;
}

/* texto card */
/*obs:temporario*/
.card-cursos a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

/* efeito*/
.card-cursos li:hover {
    background-color: #c4c4c4;
    transform: scale(1.05);
}
