:root {
    --color-neutral-1: #f2f2f2;
    --color-neutral-2: #e5e5e5;
    --color-neutral-3: #dcdcdc;
    --color-neutral-4: #c4c4c4;
    --color-neutral-5: #161616;

    --color-primary-1: #21850a;
    --color-primary-2: #2dc20b;
    --color-secondary-1: #f99e00;
    --color-secondary-2: #a30c0c;
    --color-secondary-3: #f90000;
}